body {
  background-color: #222;
}

.container {
  background-image: url('../images/anvil.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

nav {
  background-color: rgba(255, 255, 255, .1);
  text-align: center;
}

.company-nav {
  float: left;
  position: fixed;
}

.company-nav h3 {
  font-family: 'IM Fell English SC', serif;
  color: #ddd;
  font-size: 1.6em;
  text-shadow: 3px 3px 5px black;
  padding: 10px;
}

li {
  display: inline-block;
  padding: 10px 20px;
}

.nav-link {
  text-decoration: none;
  color: #ddd;
  font-family: 'IM Fell English SC', serif;
  font-size: 1.6em;
  text-shadow: 3px 3px 5px black;
  text-transform: uppercase;
}

.selected {
  border-bottom: 2px solid #fff;
  color: #fff;
}

.home-logo {
  background-color: #ddd;
  width: 30%;
  margin: 50px auto;
  padding: 40px 20px;
}

.home-logo h1 {
  line-height: 1.6em;
  font-size: 2.6em;
  font-weight: bold;
  letter-spacing: 5px;
}

.about {
  background-color: rgba(220, 220, 220, .6);
  width: 960px;
  margin: 5vh auto 0;
  padding: 20px;
  border-radius: 10px;
}

.about p {
  color: #000;
}

.cody-img {
  float: left;
  height: 200px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.bio p {
  line-height: 1.6em;
  letter-spacing: 1px;
  font-size: 1.3em;
  font-family: sans-serif;
}

.product-container {
  background-color: rgba(220, 220, 220, .6);
  width: 960px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin: 5vh auto 0;
}

.product-container  h2 {
  font-family: 'IM Fell English SC', serif;
  font-size: 2.1em;
  text-decoration: underline;
  line-height: 1.6em;
  font-weight: bolder;
}

.works {
  float: left;
}

.works img {
  height: 300px;
  margin: 10px;
  box-shadow: 5px 5px 5px #333;
}

.clearfix {
  overflow: auto;
}

footer {
  background-color: rgba(30, 30, 30, .3);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;
  text-align: left;
}

footer p {
  line-height: 1.6em;
  color: #999;
  padding: 10px;
}

footer span {
  margin-right: 10px;
}

footer a {
  text-decoration: none;
  color: #999;
  padding: 5px;
  font-size: 1.3em;
}
